langgraph==0.4.8
langgraph-api==0.2.51
langgraph-cli[inmem]==0.3.3
llama-cpp-python==0.3.9
langchain-community==0.3.25
python-dotenv
huggingface_hub
qdrant-client[fastembed]
transformers
sentence-transformers
pydantic==2.11.7
